*{
    box-sizing: border-box;
}

body{
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("throne.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.logo > img{
    margin-top: 5px;     
}
h1{
    text-align: center;
    font-size: 110%;
}
h2{
    font-size: 90%;
}
main{
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    border:  4px solid black;
    border-radius: 5px;
    background-color:  rgb(185, 185, 185,0.90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
section{
    margin: 0px; 
}
button{
    cursor: pointer;
    font-family: 'Cinzel', serif;
    margin: 10px auto 10px auto;
    font-size: 90%;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 2px 5px
    /*  */
}

fieldset>h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
fieldset{
    text-align: left;
    border: none;
}
.radio{
    font-size: 90%;
    cursor: pointer;
}

p.question-count{
    display: inline-block;
    margin: 2px 5px 2px auto;
    
}
p.score{
    display: inline-block;
    margin: 2px auto 2px 5px;
 
}
p.final-score{
    font-size: 90%;
}
.options{
    padding-right: 5%;
    padding-left: 5%;
    font-weight: bold;
}

.options>span{
    display: block;
    padding: 3px;
    text-align: center;
    font-size: 90%;
}
.correctAnswer{
    border: 2px solid green;
    border-radius: 4px;  
    box-shadow:  2px 2px 5px green;
}
.wrongAnswer{
    border: 2px solid red;
    border-radius: 4px;
    box-shadow: 2px 2px 5px red;
}
.scoreUpdate{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 80%;
    margin: 0px auto 0px auto;
}
@media screen and (min-width: 620px){
    main{
        width: 60%;
    }
    p.question-count{
        padding-right: 10%; 
        padding-left: 10%;
    }
    p.score{
        padding-right: 10%; 
        padding-left: 10%;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    button {
        font-size: 115%;
    }
    .radio{
        font-size: 115%;
    }
    .scoreUpdate{
        font-size: 115%;
        margin: auto;
    }
    .options>span{
        font-size: 115%;
    }
    .options{
        padding-right: 15%;
        padding-left: 15%;
    }
    section{
        margin: 15px 10% 15px 10%; 
    }
}
@media screen and (min-width: 750px){
    main{
        width: 700px;
    }
}

